*__pycache__
*.pyc
*.pyo
*.pyd
__pypackages__/
env/
venv/

.humdov-feed/

.env.production
.env.development
.env.local
.env.test

__pycache__

Humdov-feed-Complete.postman_collection.json
Humdov-feed.postman_collection.json